.inp {
  width: 180px;
  height: 20px;
  margin: 5px;
}
.wrapper {
  margin: 0 auto;
  width: 200px;
  border: 2px solid lightgray;
}

.buttons {
  display: flex;
  width: 200px;
}
.numbers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn_num {
  margin: 4px 4px;
  width: 41px;
  height: 40px;
}

.btn_act,
.btn {
  margin: 4px 4px;
  width: 41px;
  height: 30px;
  background: lightblue;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.a {
  height: 30px;
}

.inp {
  text-align: end;
  padding-right: 5px;
}
